body {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.banniere
{
    height: 15vh;
    width : 100vw;
    margin-bottom: 2vh;
}
.fenetreGeneral
{
    display: flex;
}
.menu
{
    height: 80vh;
    width : 17vw;
    background-color: violet;
    margin-right: 5vw;
    background-image: url("../images/imageMenuLateral.jpg")
}
/*<image src="public/images/imageMenuLateral.jpg">*/
a
{
    text-decoration: none;
    color : inherit;
}
.rangeeLogo
{
    display: flex;
}
.logo
{
    height: 2vh;
    width : 1vw;
}
ul
{
    list-style: none;
}

/*table, tr
{
    border: solid black 1px;
    border-collapse: collapse;
    text-align: center;

}*/
table
{
    border: solid black 1px;
    text-align: center;
    border-radius: 40px;
    border-spacing: 0px;
    margin: 0 auto;
}

table > tr:first-child > td:first-child {
    border-top-left-radius: 40px;
}

table > tr:first-child > td:last-child {
    border-top-right-radius: 40px;
}

table > tr:last-child > td:first-child {
    border-bottom-left-radius: 40px;
}

table > tr:last-child > td:last-child {
    border-bottom-right-radius: 40px;
}
.tableau
{
    margin-top: 8vh;
}
.premierLigneTableau
{
    background-color: #F2F2F2;
    height: 7vh;
}
.ligneTableau
{
    height: 7vh;
}
.celluleTableau
{
    width: 18vw;
}
.derniereLigneTableau
{
    height: 7vh;
}

/* Coin arrondi tableau à mettre en place
*/