li
{
    margin-top: 2vh;
    font-family: Arial, sans-serif;
}
.pageActuelleMenu
{
    font-weight: bold;
    font-size: 18pt;
}
.lien
{
    font-size: 18pt;
}
.ecartHautMenu
{
    margin-top: 5vh;
    font-size: 18pt;
}
.ecartLogo
{
    margin-top: 46vh;
    margin-right: 1vw;
}

.trierPar
{
    font-size: 12pt;
}
.policePublication
{
    font-family: Arial, sans-serif;
    font-size: 21pt;
}