
header
{
    display: flex;
    border: 2px solid red;
}
body
{
display: flex;
    flex-direction: column;
    border: 2px solid black;
}
.orientationMenu
{
    display: flex;
    flex-direction: column;
}
.rangeeLogo
{
    display: flex;
    background-color: darkviolet;
}
.dimensionLogo
{
    height: 17px;
    width: 23px;
}
.separationMenuPublication
{
    display: flex;
    border: 2px solid yellow;
}


ul {
    list-style-type: none;
}